<!DOCTYPE html>
<html lang="en">
<head>
  {% if self.title() %}
    <title>{% block title %}{% endblock %} - Easy Menu</title>
  {% else %}  
    <title>Easy Menu</title>
  {% endif %}
  {% include 'parts/head.html' %}
</head>
<body>
  <header>
    <div class="container py-2 text-center">
      <a href="/" class="w-100" style="color: var(--color-primary)">
        {{ 'logo.svg' | load_svg | safe }}
      </a>
    </div>
  </header>
  <nav-bar data-user="{{session['user']}}" data-page="{{url_for(request.endpoint)}}"></nav-bar>
  {% block content %}{% endblock %}
</body>
</html>