<!DOCTYPE html>
<html lang="en">
<head>
  {% if self.title() %}
    <title>{% block title %}{% endblock %} - Easy Menu</title>
  {% else %}  
    <title>Easy Menu</title>
  {% endif %}
  {% include 'parts/head.html' %}
</head>
<body>
  <header class="row">
    <a href="/dashboard" class="container pt-4 text-center" style="color: var(--color-primary)">
      {{ 'logo.svg' | load_svg | safe }}
    </a>
  </header>
  <div style="max-width: 500px" class="container-fluid d-flex flex-column justify-content-center shadow rounded content-block mt-5 p-0">
    <nav class="d-flex gap-3 p-2 align-items-center w-100 rounded" style="background: var(--color-primary); color: white">
      <btn-back>
        <i class="bi bi-arrow-left fs-4"></i>
      </btn-back>
      {% if self.form_title %}
        <h2 class="fs-4 m-0">{% block form_title %}{% endblock %}</h2>
      {% endif %}
    </nav>
    <form class="w-100 p-4" enctype="multipart/form-data" method="post">
      {% include "components/flash_inline.html" %}

      {% block content %}{% endblock %}

      <button type="submit" class="btn btn-lg btn-primary float-end">{% block submit_text %}{% endblock %}
      </button>
    </form>
  </div>
</body>
</html>