{% extends "layouts/default.html" %}

{% block title %}All Categoies{% endblock %}

{% block content %}
  <generic-filter></generic-filter>
  <div class="container mt-4 p-0 content-block">
    <title-bar data-title="Categories">
      <button is="btn-cp" link="/category/new" class="text-nowrap" variant="light">Add New</button>
    </title-bar>
    <div class="d-flex justify-content-center mb-2 gap-3 p-3">
      <form class="w-100" style="max-width: 400px">
        <input name="filter_query" id="filter_query" type="text" class="form-control" placeholder="Filter..." gf-input>
      </form>
    </div>
    <div class="w-100 p-3">
      <div class="d-flex gap-2 flex-wrap">
        {% for cat in data.categories %}
          <category-badge data-title="{{ cat.title }}" data-id="{{ cat.id }}"></category-badge>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include "components/flash_floating.html" %}
{% endblock %}

{% block submit_text %}Add{% endblock %}
