{% extends "layouts/forms.html" %}

{% block title %}Edit business information{% endblock %}
{% block form_title %}Edit business information{% endblock %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const removeImageBtn = document.querySelector('#remove_image');
      if(!removeImageBtn) return;

      const imageUrl = removeImageBtn.getAttribute('data-url');

      removeImageBtn.addEventListener('click', (e) => {
        e.preventDefault();

        fetch('/business/remove-image', {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ 
            url: imageUrl,
          })
        }).then(res => res.json())
        .then(res => {
          console.log(res)
          if(res.code === 200) {
            location.reload()
          }
        })

      })
    })
  </script>
  <business-edit data-payload='{{ data | tojson }}'>
    
  </business-edit>
  {% if data.business_logo %}
    <div class="mb-3 d-flex justify-content-center w-100 rounded p-3 position-relative" style="background: var(--bg-fade)">
      <div class="position-absolute top-0 start-100 translate-middle">
        <div id="remove_image" data-url="{{ data.business_logo }}" class="btn btn-danger rounded-pill">
          <i class="bi bi-trash"></i>
        </div>
      </div>
      <img src="/static/media/{{ data.business_logo }}" style="max-width: 100%; object-fit: contain" />
    </div>
  {% else %}
    <div class="mb-3">
      <label for="business_logo" class="form-label">Upload Business Logo</label>
      <input class="form-control" type="file" id="business_logo" name="business_logo">
    </div>
    <div id="passwordHelpBlock" class="form-text">
      For better results use a 200x80 image (or viewport).
    </div>
  {% endif %}
  <div class="mb-3">
    <label for="business_color" class="form-label">Accent Color</label>
    <input 
      type="color" 
      class="form-control form-control-color" 
      id="business_color" 
      name="business_color" 
      value="{% if data.business_color %}{{ data.business_color }}{% else %}#404040{% endif %}" 
      title="Choose your color"
    >
  </div>
  <div class="form-floating mb-3">
    <input name="email" id="email" type="email" class="form-control" value="{{ data.email }}" placeholder="">
    <label for="email">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input name="business_name" id="business_name" type="text" class="form-control" value="{% if data.business_name %}{{ data.business_name }}{% endif %}"  placeholder="">
    <label for="business_name">Business name</label>
  </div>
  <div class="form-floating mb-3">
    <input name="business_url" id="business_url" type="text" class="form-control" value="{% if data.business_url %}{{ data.business_url }}{% endif %}"  placeholder="">
    <label for="business_url">Business URL</label>
    <div id="passwordHelpBlock" class="form-text">
      Business URL is where you menu will be acessible in the browser. Ex: /business-url
    </div>
  </div>
{% endblock %}

{% block submit_text %}Save{% endblock %}
