{% extends "layouts/default.html" %}

{% block content %}
  <div class="container content-block rounded p-3">
    <business-details>
      <payload>{{ data.user | tojson }}</payload>
    </business-details>
  </div>
  <div class="container mt-5">
    <h3 class="mb-3">
      Your menu items
    </h3>
    <menu-actions></menu-actions>
    <div>
      {%for item in data.user_items %}
        <div class="container px-0 pt-3">
          <h3 name="{{ item }}">{{ item }}</h3>
          <menu-items class="row" gf-masonry>
            {% for item_data in data.user_items[item] %}
              <menu-item data-item-data="{{item_data | tojson}}" gf-match="{{item_data.title}}">
                <payload>
                  {{item_data | tojson}}
                </payload>
              </menu-item>
            {% endfor %}
          </menu-items>
        </div>
      {% endfor %}
    </div>
  </div>
  <flash-floating data-payload='{{ get_flashed_messages(with_categories=true) | tojson}}'></flash-floating>
{% endblock %}