{% extends "layouts/forms.html" %}

{% block title %}Edit item{% endblock %}
{% block form_title %}Edit item{% endblock %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const removeImageBtn = document.querySelector('#remove_image');
      if(!removeImageBtn) return;

      const imageId = removeImageBtn.getAttribute('data-id');
      const itemId = removeImageBtn.getAttribute('data-item-id');

      removeImageBtn.addEventListener('click', (e) => {
        e.preventDefault();

        fetch('/item/remove-image', {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ 
            id: imageId,
            itemId: itemId
          })
        }).then(res => res.json())
        .then(res => {
          console.log(res)
          if(res.code === 200) {
            location.reload()
          }
        })

      })
    })
  </script>

  {% if data.item_image %}
    <div class="mb-3 d-flex justify-content-center w-100 rounded p-3 position-relative" style="background: var(--bg-fade)">
      <div class="position-absolute top-0 start-100 translate-middle">
        <div id="remove_image" data-id="{{ data.item_data.media_id }}" data-item-id="{{ data.item_data.id }}" class="btn btn-danger rounded-pill">
          <i class="bi bi-trash"></i>
        </div>
      </div>
      <img src="/static/media/{{ data.item_image }}" style="max-width: 100%; object-fit: contain" />
    </div>
  {% else %}
    <div class="mb-3">
      <label for="item_image" class="form-label">Upload image</label>
      <input class="form-control" type="file" id="item_image" name="item_image">
    </div>
  {% endif %}
  {% if not data.categories %}  
    <div class="alert alert-danger mb-3 d-flex gap-2" role="alert">
      <i class="bi bi-exclamation-octagon-fill ml-3"></i>
      <p class="m-0">
        You don't have any category. <a class="d-inline" href="/category/new">Create a category</a> before adding new items to your menu!
      </p>
    </div>
  {% else %}
  <select class="form-select mb-3" name="category" aria-label="Default select example">
    <option>Uncategorized</option>
      {% for cat in data.categories %} 
        {{ cat.id}}
        {{data.item_data["category"]}}
        <option value="{{ cat.id }}" {% if cat.id == data.item_data["category"] %}selected{% endif %}>{{ cat.title }}</option>
      {% endfor %}
    </select>
  {% endif %}
  <div class="form-floating mb-3">
    <input name="title" id="title" type="text" class="form-control" placeholder="" value="{{data.item_data.title}}">
    <label for="title">Title</label>
  </div>
  <div class="form-floating mb-3">
    <textarea name="description" id="description" class="form-control" style="height: 150px" placeholder=""> {{data.item_data.description | trim}} </textarea>
    <label for="description">Description</label>
  </div>
  <div class="mb-3">
    <label class="mb-3" for="price">Price</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">$</span>
      <input name="price" id="price" type="text" class="form-control" placeholder="" value={{ data.item_data.price | float }}>
    </div>
  </div>
{% endblock %}

{% block submit_text %}Save{% endblock %}
